<header>
  <div class="menu-button">
    <button class="btn">
      <i class="bi bi-list" style="font-size: 36px"></i>
    </button>
  </div>
  <div class="madame-coco">
    <a href="http://localhost:3000/">
      <h1>MADAME COCO</h1>
    </a>
  </div>
  <div class="search-div">
    <div class="search-mark">
      <i class="bi bi-search" style="font-size: 26px"></i>
    </div>
    <div class="form-div">
      <form id="js-search-form" action="/list">
        <input
          id="js-search-box"
          name="search_text"
          type="text"
          autocomplete="off"
          placeholder="Aradığınız ürünü giriniz"
        />
      </form>
    </div>
  </div>
  <div class="notification">
    <button class="btn">
      <i class="bi bi-bell" style="font-size: 32px"></i>
    </button>
  </div>
  <div class="profile-dropdown js-profile-dropdown">
    <button class="profile-dropdown-btn js-profile-dropdown-btn">
      <i class="bi bi-person header-buttons"></i>
    </button>
    <div class="profile-dropdown-content js-profile-dropdown-content">
      <a class="login-dropdown" href="/users/login">
        <div>Giriş Yap</div>
      </a>
      <a class="register-dropdown" href="/users/register">
        <div>Kayıt Ol</div>
      </a>
    </div>
  </div>
  <div class="favorite-products">
    <button class="btn">
      <i class="bi bi-heart" style="font-size: 32px"></i>
    </button>
  </div>
  <div class="basket">
    <button class="btn">
      <i class="bi bi-bag-check" style="font-size: 32px"></i>
    </button>
  </div>
</header>
