<div class="product-variants">
  <div class="product-color">
    <!-- farki renkleri de olabilir ona bak. -->
    <p>
      Renk:
      <span style="color: #8e502b; margin-left: 3px">
        <%= product.attributes.renk %>
        <!-- TODO: farki bir renge tiklandiginda sayfa yenilenecek ve rengi o olan urunun resmi gelecek.-->
      </span>
    </p>
  </div>
  <div class="product-color-images">
    <button class="image-button">
      <div class="image-1">
        <a href="#">
          <img
            src="<%= product.productimage_set[0].image %>"
            alt="Bu dosyanın uzantısı tarayıcınız tarafından desteklenmiyor."
          />
        </a>
        <a href="/product/<%= product.pk %>">
          <img src="" alt="" />
        </a>
      </div>
    </button>
  </div>
  <div class="product-measure">
    <p>
      Ölçü:
      <span style="color: #8e502b; margin-left: 3px">
        <%= product.attributes.boyut %>
        <!-- TODO: farkli bir olcuye tikladiginda sayfa yenilenecek ve o olculu olan urunun resmi gelecek. -->
      </span>
    </p>
  </div>
  <div class="product-measure-box"></div>
</div>
