<%- include('header'); -%>

<div class="error-message">
  <div class="error-title">500</div>
  <div class="error-informations">
    <div class="error-info">Beklenmeyen bir hata oluştu.</div>
    <div class="error-info">Lütfen daha sonra tekrar deneyin.</div>
    <div class="error-info">
      <a href="http://localhost:3000/list/">Ana Sayfaya Dön</a>
    </div>
  </div>
</div>

<%- include('footer'); -%>
