<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tüm Ürünler - Madame Coco</title>
    <!-- TODO: favicon ekle -->
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="header">
      <div class="header-band">
        <a href="#">Kampanyalar</a>
        <a href="#">Sipariş Takibi</a>
        <a href="#">Mağazalar</a>
        <a href="#">İletişim</a>
        <a href="#"><span style="font-weight: bold">TR</span> | EN</a>
      </div>
    </div>
    <div class="main-container">
      <div class="container">
        <header>
          <div class="menu-button">
            <button class="btn">
              <i class="bi bi-list" style="font-size: 36px"></i>
            </button>
          </div>
          <div class="madame-coco">
            <a href="http://localhost:3000/">
              <h1>MADAME COCO</h1>
            </a>
          </div>
          <div class="search-div">
            <div class="search-mark">
              <i class="bi bi-search" style="font-size: 26px"></i>
            </div>
            <div class="form-div">
              <form id="js-search-form" action="" method="get">
                <input
                  id="js-search-box"
                  name="search_text"
                  type="text"
                  autocomplete="off"
                  placeholder="Aradığınız ürünü giriniz"
                />
              </form>
            </div>
          </div>

          <div class="notification">
            <button class="btn">
              <i class="bi bi-bell" style="font-size: 32px"></i>
            </button>
          </div>
          <div class="profile">
            <button class="btn">
              <i class="bi bi-person" style="font-size: 32px"></i>
            </button>
          </div>
          <div class="favorite-products">
            <button class="btn">
              <i class="bi bi-heart" style="font-size: 32px"></i>
            </button>
          </div>
          <div class="basket">
            <button class="btn">
              <i class="bi bi-bag-check" style="font-size: 32px"></i>
            </button>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>
