@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&family=Montserrat:wght@200&family=Plus+Jakarta+Sans:wght@200&family=Rajdhani:wght@300&family=Signika+Negative:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Karma', serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

input {
    font-family: 'Karma', serif;
    font-size: 18px;
}

.header {
    width: 100%;
    height: 43px;
    background-color: #F5EFEC;
}

.container header {
    margin-left: 130px;
}

.header .header-band {
    display: flex;
    justify-content:flex-end;
    background-color: #F5EFEC;
    gap: 50px;
    margin-right: 250px;
    font-size: 16px;
    padding: 10px;
}

.header .header-band a {
    text-decoration: none;
    color: #323E48;
}

.main-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container header {
    display: flex;
    gap: 50px;
    padding: 30px;
}

.btn {
    border: none;
    background: none;
}

.madame-coco a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.madame-coco {
    margin-right: 50px;
}

.search-mark {
    position: absolute;
    left:590px;
}

.form input {
    width: 608px;
    height: 36px;
    border: none;
    border-bottom: 1px solid black;
}

.form input:focus {
    outline: none;
}

.header-bottom{
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

.header-bottom h1 {
    position: relative;
    bottom: 0px;
}

.header-bottom a {
    text-decoration: none;
}

.header-bottom div {
    text-align: center;
    width: 160px ;
    height: 36px;
    padding: 10px;
    background-color: #E8E8E8;
    color: #323E48;
    font-size: 16px;
    border-radius: 5px;
}

.list-content {
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 20px;
    font-size: 18px;
    color: #323E48;
    background-color: #FFFFFF;
}

.list-views {
    display: flex;
    gap: 20px;
}

.list-views svg {
    padding-top: 3px;
}

.layout {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 5px;
}

.filter,
.order,
.btn,
.layout-icons svg{
    cursor: pointer;
}

.layout-icons button {
    border: none;
    background: none;
    cursor: pointer;
}

.product-list {
    display: grid;
    grid-template: repeat(6, 490px) / repeat(4, 333px);
    row-gap: 20px;
    column-gap: 120px;
    padding: 40px;
}

.product-image {
    width: 333px;
    height: 416px;
}

.product_list_double {
    display: grid;
    grid-template: repeat(6, 490px) / repeat(2, 333px);
    row-gap: 20px;
    column-gap: 30px;
    padding: 40px;
    justify-content: center;
}

.product_list_hexa {
    display: grid;
    grid-template: repeat(4, 490px) / repeat(6, 333px);
    row-gap: 20px;
    column-gap: 30px;
    padding: 40px;

}

.product-info {
    width: 333px;
    height: 65px;
}

.product-info p {
    font-size: 16px;
}

.product-info a {
    text-decoration: none;
    color: #000000;
}

.product-info span {
    font-size: 18px;
    font-weight: bolder;
}

footer {
    display: flex;
}

footer .footer-menu ul li {
    padding: 15px;
}

.footer {
    border-top: 1px solid black;
    color: #222222;
}
.footer footer div {
    padding: 10px;
    margin-top: 10px;
}

footer h1 {
    display: inline;
}


footer div{
    display: inline-block;
}

#email {
    width: 320px;
    height: 40px;
    outline: none;
}

.checkbox {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.check span {
    text-decoration: underline;
}

span a {
    color: black;
}

.check {
    display: inline-block;
}

.check p {
    display: inline;
    font-size: 14px;
}

span p {
    text-decoration: none;
    font-size: 10px;
}

.footer-social a{
    text-decoration: none;
    color: black;
    margin-right: 40px;
}

.footer-right {
    display: flex;
    height: auto;

}

.footer-menu-title  {
    font-size: 16px;
    color: #323E48 ;
}

.footer-menu ul li {
    list-style-type: none;
}

.footer-menu ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #222222;
}

.footer-base {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    font-size: 14px;
    color: #848484;
    display: flex;
    align-items: center;
}

.footer-base-award {
    display: flex;
    align-items: center;
}

.footer-base-phone {
    display: flex;

}

.footer-base-phone div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

.footer-base-phone a{
    color: green ;
    text-decoration: none;
}

.footer-base-phone a p {
    color: #222222 ;
    font-size: 20px;
}